<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
 
    
      <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
      <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/bajaj</property>
      <property name="hibernate.connection.username">postgres</property>
      <property name="hibernate.connection.password">bajaj123</property>
      <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>  
      
     <property name="show_sql">true</property>
      <property name="hibernate.connection.pool_size">300</property>

	<!-- 
	<property name="hibernate.generate_statistics">true</property>
	<property name="hibernate.c3p0.min_size">5</property>
  <property name="hibernate.c3p0.max_size">20</property>
  <property name="hibernate.c3p0.timeout">300</property>
  <property name="hibernate.c3p0.max_statements">50</property>
  <property name="hibernate.c3p0.idle_test_period">300</property>-->

      <!--  <property name="TransactionStrategy">org.hibernate.transaction.JTATransactionFactory</property>
      <property name="transaction.factory_class">org.hibernate.transaction.JTATransactionFactory</property>
 	  <property name="TransactionManagerLookup">org.hibernate.transaction.JBossTransactionManagerLookup</property>
 	  <property name="transaction.manager_lookup_class">org.hibernate.transaction.JBossTransactionManagerLookup</property>
      <property name="TransactionManagerLookupStrategy">org.hibernate.transaction.JBossTransactionManagerLookup</property>
      <property name="transaction.auto_close_session">true</property>
      <property name="transaction.flush_before_completion">true</property> -->
      <!-- <property name="hibernate.cache.provider_class">org.hibernate.cache.EHCacheProvider</property>      -->
      <property name="cache.use_second_level_cache">false</property>
       <property name="hibernate.cglib.use_reflection_optimizer">false</property>
      <!--  <property name="hibernate.cache.use_query_cache">true</property> 
      <property name="hibernate.connection.autocommit">true</property>-->

      
      <!-- Mapping files -->
      <mapping resource="com/mcms/entities/Users.hbm.xml"/>      
      <mapping resource="com/mcms/entities/Userhasrole.hbm.xml"/>
      <mapping resource="com/mcms/entities/RoleMst.hbm.xml"/>
       <mapping resource="com/mcms/entities/EmpMst.hbm.xml"/>
      <mapping resource="com/mcms/entities/UserStatusMst.hbm.xml"/>
       
</session-factory>
</hibernate-configuration>
